# Titanic disaster: predict the class

In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression 
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score

## Data Loading

In [3]:
#load titanic dataset
data = pd.read_csv('../../databases/titanic.csv')

In [4]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
data.dropna(axis =0, inplace=True )

# Logistic Regression

## Data Processing (LR)

In [6]:
y = data['Pclass']

In [7]:
X = data.drop('Pclass', axis=1)._get_numeric_data()

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

## Train the Model (LR)

In [9]:
model = LogisticRegression()

In [10]:
model.fit(X_train, y_train)

C:\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

## Test the Model

In [11]:
y_pred = model.predict(X_test)

In [11]:
pd.DataFrame({'test':y_test, 'predicted':y_pred})

     test  predicted
262     1          1
823     3          3
248     1          1
96      1          1
251     3          2
716     1          1
318     1          1
627     1          1
781     1          1
782     1          1
291     1          1
102     1          1
137     1          1
332     1          1
698     1          1
772     2          1
515     1          1
779     1          1
307     1          1
835     1          1
209     1          1
54      1          1
23      1          1
218     1          1
745     1          1
516     2          2
520     1          1
299     1          1
577     1          1
92      1          1
751     3          3
325     1          1
252     1          1
194     1          1
10      3          2
331     1          1
504     1          1

In [13]:
confusion_matrix(y_test, y_pred)

array([[31,  0,  0],
       [ 1,  1,  0],
       [ 0,  2,  2]], dtype=int64)

In [14]:
accuracy_score(y_test, y_pred)

0.918918918918919